@charset "utf-8";

body,button,select,textarea,input,label,option,fieldset,legend{font-family: 微软雅黑E\8f6f\96c5\9ed1,Tahoma,Verdana;font-size: 12px;line-height: 18px;color: #444;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
ol,li,ul,dl,dt,dd{list-style:none;}
a,fieldset,img {border:0}
html{font-size: 62.5%;}
body{background-color: #f6f6f6;}
a{color: #666;text-decoration: none;&:hover{color:#0053a6;};}
h1,h2,h3,h4,h5,h6{font-size:inherit;}
.fl{float: left;}
.fr{float: right;}
.nf{clear: both;}
.ds{display: block;}
.hid{overflow: hidden;}
.cleatfix{zoom:1;}
.cleatfix:after{display: block;visibility: hidden;clear: both;height: 0;content:'.';font-size: 0;}
.red{color: red;font-weight: bold;}
.green{color: #00b500;font-weight: bold;}
.jianbian{background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(100%,#eee));}
.bottomshadow{border-bottom: solid 1px #b3b3b3;-webkit-box-shadow: 0 1px 1px 0 #dfdfdf;box-shadow: 0 1px 1px 0 #dfdfdf;}
.cartshadow{min-height:75px;overflow: hidden; background-color: #fff;-webkit-box-shadow: 0 0 5px #ccc;-moz-box-shadow: 0 0 5px #ccc;box-shadow: 0 0 5px #ccc; border:1px solid #f2f2f2;-moz-border-radius: 10px;border-radius: 10px;}
.reduce{float:left;width:3.5rem;height:2.5rem; border:0.1rem solid #ccc; border-right:none; cursor: pointer; background: url("../images/reduce.gif") center center no-repeat;}
.itnums{float:left;width:8rem;height:2.5rem;border:0.1rem solid #ccc;  text-align: center;font-size:1.4rem;color:#990000;font-weight:800;}
.add{float:left;width:3.5rem;height:2.5rem; border:0.1rem solid #ccc; border-left:none;cursor: pointer;background: url("../images/add.gif") center center no-repeat;}

#nav{
	width:100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background: #fafafa;
	.navlist{
		position: relative;
		height: 50px;
		@extend .jianbian;
		@extend .bottomshadow;
		li{
			float: left;
			margin:0;
			height: 50px;
			width: 25%;
			a{
				width: 100%;
				display: inline-block;
				height: 50px;
				border-right: 1px solid #eaeaea;
				text-align: center;
				span{
					display: inline-block;width: 50px;height: 50px;
					background: url(../images/icon.png) no-repeat 0 -46px;
					-webkit-background-size: 214px auto;
					background-size: 214px auto;
				}
				.active{background-position: 0 0;}
			}
		}
		#n_1{
			position:relative;
			a{
				span{
					background-position: -51px -46px;
				}
				.active{background-position: -51px 0;}
			}
			.cartnums{position: absolute;top:2px;left: 50px;width:18px;height: 18px;background-color: red;border-radius: 9px;color:#fff;text-align: center;font-size: 1.2rem;}
		}
		#n_2{
			a{
				span{
					background-position:-161px -46px;
				}
				.active{background-position: -161px 0;}
			}
		}
		#n_3{
			a{
				span{
					background-position: -101px -46px;
				}
				.active{background-position: -101px 0;}
			}
		}
	}
}
.indexslider {
	position: relative;
	top:51px;
	left: 0;
	width: 100%;
	height: 200px;
	#topSlider{
		height: 200px;
		img{
			width: 100%;
			height: 200px;
		}
		.mongban{
			height: 45px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #000;
			opacity: 0.7;
			z-index: 999;

			.slidecontent{
				height: 45px;
				width: 200px;
				float: left;
				p{
					line-height: 20px;
					display: block;
					width: 200px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #fff;
					text-indent: 12px;
					span{
						color: #15bd10;
					}
				}
			}
			a{
				width: 100px;
				line-height: 30px;
				font-size: 18px;
				color: #fff;
				background-color:#15bd10;
				text-align: center;
				margin: 7px 5px 0 0;
				border-radius: 10px;
				float: right;
			}
		}
	}
}
#flydiv {width: 50px;height: 50px;position: absolute;overflow: hidden;padding:2px;background-color: #fff;border:5px solid #e54144;z-index: 10000;}
